.link::after {
  content: '';
  display: block;
  background: var(--color-primary);
  width: 0;
  height: 1px;
  transition: 0.3s;
}

.link:hover::after {
  width: 16px;
}

:global(.active)::after {
  width: 16px;
}

@media (max-width: 62rem) {
  .link::after {
    display: none;
  }
  .link:not(:global(.active)) {
    opacity: 0.5;
  }
}
